*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrapper {
    height: 720px;
    width: 1535px;
    /*background-color: aqua;*/
}
header{
    width: 1535px;
    height: 100px;
    background-color:black;
}
section .sec_img {
    margin: 0;
    width: 100%;
    height: 100%;
   background-image: url(../images/1.jpg);
   background-size: cover;
}

section {
    height: 84vh;
}

.navbar img {
    width: 50%;
    padding: 10px;
}
nav ul li {
        margin-top: 10px;
}

footer{
    width: 100%;
    height: 50px;
    background-color:black;
}
.logo{
    float: left;
    padding-left:20px;
}
.logo img{
    float: left;
    padding-left:80px;
    width: 120px;
    cursor: pointer;
} 
li a{
    color:white;
    text-decoration:none;
}
/*nav{
    float:right;
    word-spacing: 30px;
    padding: 20px;
}
nav li{
    display:inline-block;
    line-height:80px;
}*/
.box{
    
    height:70px;
    width: 450px;
    border: 1px solid white;
    background-color:red;
    margin: 110px auto;
    color:white;
}

/*----------------------------------------------user------------*/

 .log_img{
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/3.jpg);
}
.box1{
    text-align: center;
    height: 400px;
    width: 300px;
    background-color: black;
    margin: 10px auto;
    opacity: .7;
    color:white;
    padding: 20px;
}
input{
    height: 25px;
    width: 300px;
}
form .login{
    margin: 70px auto;
}

/*------------------------------------------------------------register-------------------------------------------------*/
.reg_img{
    margin: 0;
    width: 1535px;
    height: 510px;
    background-image: url(../images/4.png);
    background-size: cover;

}
.box2{
    text-align: center;
    height: 500px;
    width: 300px;
    background-color: black;
    margin: -80px auto;
    opacity: .7;
    color:white;
    padding: 20px;}

    /*---------------------------------------------------------------------user interfere---------------------------------*/
    .content{
        margin: -20px auto;
        width: 100%;
        height: 100%;
        background-image: url(../images/h.jpg);
        background-size: cover;
       
        
    }
    .btn-group-vertical{
      
        margin: 100px 550px;
        width: 300px;
        height: 350px;
        border: 2px solid purple;
        box-shadow:-5px  -5px;

    }
    .btn-group-vertical a{
     margin:40px 0px;
    }
/*---------------------------------------------------------------------issue----------------------------------------*/
.issue{
    /* margin: -20px auto; */
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/ra.jpg);
   
}
.box3{
        text-align: center;
        margin: 100px 400px;
        padding: 5px;
        width: 300px;
        height: 100%;
        border: 2px solid purple;
        box-shadow:-5px  -5px;
}
.btn{
    width: 75px;
    height: 40px;
    padding:5px 0;
    margin:10px 110px;


}
/*------------------------------Request---------------------*/
.request{
    margin:-20px auto;
    width: 1535px;
    height: 520px;
    background-image: url(../images/jh.jpg);
    background-size: cover;
}

   /*----------------------------------------------------------ADMIN DASHBOARD------------------------------------*/
   .content1{
    /* margin: -20px auto; */
    width: 100%;
    height: 100%;
    background-image: url(../images/6.jpg);
    background-size: cover;

   }

   .cnt1 {
       padding: 20px;
   }